<?xml version="1.0" encoding="ISO-8859-1"?><config><apptitle>My Panda</apptitle><txinicio>Welcome to the My Panda Android App! This is a beta version of the web app found at mypanda.website</txinicio><txiniciotitulo>Welcome to My Panda</txiniciotitulo><txnored>You do not have Internet Access at this time. Please enable Internet access.</txnored><txnoredtitulo>No Internet Access</txnoredtitulo><txnoredretry>Retry</txnoredretry><txnoredsalir>Quit</txnoredsalir><laurl>http://mypanda.website/</laurl><txquieresalir>Do you want to exit My Panda ?</txquieresalir><txquieresalirtitulo>Application Exit</txquieresalirtitulo><txquieresalirsi>Exit</txquieresalirsi><txquieresalirno>Cancel</txquieresalirno><txfiltro>no</txfiltro><txfiltrourl></txfiltrourl><posicion>hor</posicion></config>